html {
    font-family: $text-fonts;
    background: $bottom-color;
}

h2, h3 {
    font-family: $title-fonts;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.3em;
}

.inner {
    margin: 0 auto;
    max-width: $site-width;
    padding: 0 40px;
}