.features {
    position: relative;
    padding-top: 4.6em;

    // &:before {
    //     content: '';
    //     z-index: -1;
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: -30px;
    //     box-shadow: 0 20px 10px 10px rgba(0, 0, 0, .1);
    // }
}

.features .inner {
    display: flex;
    justify-content: space-between;
}

.features article {
    width: 29%;
}

.features h3 {
    color: $primary;
    text-shadow: 0 2px rgba(0, 0, 0, .08);
}

.features i {
    font-size: 1.3em;
    vertical-align: -0.13em;
    margin-right: 10px;
}

.features p {
    text-align: justify;
}