body > header {
    background: $top-color;
    // padding: 34px 0 23px;
    padding: 26px 0 23px;
    color: #fff;
    z-index: 2;
}

body > header .inner {
    display: flex;
    justify-content: space-between;
}

body > header h1 {
    font-family: $title-fonts;
    font-size: 1.75em;
    text-shadow: 0 2px rgba(0, 0, 0, .15);
}

body > header .logo {
    width: 50px;
    height: 50px;
    vertical-align: -16px;
    margin-right: 15px;
}

body > header nav {
    margin-top: 17px;
}

body > header nav li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

body > header nav li.fancy {
    transition: transform .2s;

    &:hover {
        transform: translateY(-2px);
    }
}

body > header nav a {
    text-decoration: none;
    color: #fff;
    font-family: $title-fonts;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 9px 16px;
    text-shadow: 0 2px rgba(0, 0, 0, .2);
    letter-spacing: -1px;
}

body > header nav a.cta {
    border: 1px solid #fff;
    border-radius: 2px;
}

body > header .lang-selector {
    margin-top: -5px;
    margin-left: 30px;
    padding-bottom: 25px;

    &:after {
        content: "▾";
        margin-left: 10px;
        text-shadow: 0 2px rgba(0, 0, 0, .2);
    }
}

body > header .lang-menu {
    display: none;
    position: absolute;
    z-index: 2;
    left: -25px;
    right: -5px;
    top: 55px;
    padding: 8px;
    background: rgba(#fff, .1);
    border-radius: 5px;
    box-shadow: 0 2px rgba(#000, .1);

    &:before {
        position: absolute;
        top: -15px;
        left: 33px;
        color: rgba(#fff, .1);
        display: block;
        content: "▲";
    }

    li {
        margin: 7px 17px;
    }
}

body > header li:hover .lang-menu {
    display: block;
}

body > header .lang-flag {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: inline-block;
    vertical-align: -9px;

    img {
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }
}