.lang-selector {
    margin-top: -5px;
    margin-left: 30px;
    padding-bottom: 25px;

    &:after {
        content: "▾";
        margin-left: 10px;
        text-shadow: 0 2px rgba(0, 0, 0, .2);
    }
}

.lang-menu {
    display: none;
    position: absolute;
    z-index: 2;
    left: -25px;
    right: -5px;
    top: 55px;
    padding: 8px;
    background: rgba(#fff, .1);
    border-radius: 5px;
    box-shadow: 0 2px rgba(#000, .1);

    &:before {
        position: absolute;
        top: -15px;
        left: 33px;
        color: rgba(#fff, .1);
        display: block;
        content: "▲";
    }

    li {
        margin: 7px 17px;
    }
}

li:hover .lang-menu {
    display: block;
}

.lang-flag {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px rgba(0, 0, 0, .1);
    overflow: hidden;
    display: inline-block;
    vertical-align: -9px;

    img {
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }
}