$title-fonts: 'Chivo', sans-serif;
$text-fonts: 'Roboto', sans-serif;

$color-1: #8F9DB2;
$color-2: #B0BAC8;
$color-3: #F8DFBD;
$color-4: #F3BB9A;
$color-5: #CD998B;

$top-color: $color-1;
$bottom-color: #fff;

$site-width: 1080px;