.team .columns {
	column-count: 2;
}

.team address {
	font-style: normal;
	margin-bottom: 12px;
}

.team address:nth-child(n+10) {
	margin-top: 16px;
}

.team address p {
	display: inline-block;
	margin: 0;
	width: 180px;
	text-align: right;
}

.team address ul {
	display: inline-block;
	margin: 0;
	margin-left: 18px;
	padding: 0;
}

.team address li {
	list-style: none;
	display: inline-block;
	margin-left: 2px;
	color: #fff;
	padding: 4px 8px 5px;
	background: $primary;
	letter-spacing: -1px;
  // line-height: 1.4;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
